@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: block;
}

/* Display fonts */
@font-face {
  font-family: 'CascadiaCode';
  src: url('/fonts/CascadiaCode-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

.cascadia-code {
  font-family: 'CascadiaCode';
}

@font-face {
  font-family: 'FiraCode';
  src: url('/fonts/FiraCode-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

.fira-code {
  font-family: 'FiraCode';
}

@font-face {
  font-family: 'JetBrainsMono';
  src: url('/fonts/JetBrainsMono-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

.jet-brains-mono {
  font-family: 'JetBrainsMono';
}

@font-face {
  font-family: 'VictorMono';
  src: url('/fonts/VictorMono-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

.victor-mono {
  font-family: 'VictorMono';
}

.ubuntu-mono {
  font-family: 'Ubuntu Mono';
}

.ibm-plex-mono {
  font-family: 'IBM Plex Mono';
}

.space-mono {
  font-family: 'Space Mono';
}

.source-code-pro {
  font-family: 'Source Code Pro';
}

.inconsolata {
  font-family: 'Inconsolata';
}
