@import 'tailwindcss/base';
@import 'tailwindcss/components';

* {
  scrollbar-width: thin;
  scrollbar-color: #4a5568 #1a202c;
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 12px;
  cursor: pointer;
}
*::-webkit-scrollbar-track {
  background: #1a202c;
}
*::-webkit-scrollbar-thumb {
  background-color: #4a5568;
  border-radius: 20px;
  border: 3px solid #1a202c;
}

.CodeMirror {
  font-size: 16px;
  height: auto !important;
  font-family: inherit !important;
  padding: 8px;
}

@import 'slider.css';
@import 'tailwindcss/utilities';
